.row
    .col-sm-6.col-md-4.col-lg-3(ng-repeat="(groupid, group) in groups")
      .panel.panel-primary
        .panel-heading {{group.name}}
        .panel-body
          .row
            .form-group(ng-repeat="(scriptid, script) in group.scripts",class="col-xs-{{script.name.length > 4 ? 8 : 6}}")
              button.btn.btn-lg(class="btn-{{script.btn || 'default'}}",ng-click="runScript(groupid,scriptid)",ng-disabled="script.isDisabled")
                span.glyphicon(class="glyphicon-{{script.glyph}}",ng-if="script.glyph")
                |  {{script.name}}

include bottom_nav.pug
